body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 30px;
}

.nav-link {
  padding: 0rem!important;
}

.clickable {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row {
  flex-wrap: nowrap !important;
}



.topright {
    display: inline-block;
    width: 30%;
    height: 30%;
    border: 1px orange solid;
    background: aliceblue;
    vertical-align: top;
    position: relative;
    float: right;
}
.topleft {
    display: inline-block;
    width: 70%;
    /*height: 30%;*/
    /*border: 1px black solid;
    background: aliceblue;*/
    vertical-align: top;
    position: relative;
    float: left;
}
